*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body {
    background-color: black;
}
button{
    padding: 15px;
    width: 150px;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: #000000;
    border: 2px solid darkgoldenrod;
    transition: 0.3s;
}

button:hover{
    background-color: darkgoldenrod;
    color: black;
}
 /* HEADER */
header{
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    align-items: center;
    background: linear-gradient(90deg, rgba(0,0,0,1) 58%, rgba(184,134,11,1) 100%);
    border-bottom: 2px solid darkgoldenrod;
    top:0;
    
}
nav {
    margin-left:15px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    text-transform: uppercase;
    height: 100%;
    
}
nav ul > li{
    height: 100%;
}
nav ul li > a{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    font-weight: bolder;
}
 nav ul li > a:hover{
    background-color: darkgoldenrod;
    color: black;
}
.hdr-logo{
    height: 40px;
    width: auto;

}
header button {
    margin-right: 20px;
}
.menu {
    display: none;
}
@media (max-width: 780px){
    header nav{
        display: none;
    }
    header button {
        display: none;
    }
    header {
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        padding-left: 20px;
    }
    .menu {
        display: block;
        height: 30px;
    }
}
/* HERO + CTA */
main {
    margin-top: 80px;
    width: 100%;
    height: 100%;
}
#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}
 #background-video {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit:fill;
    opacity: 80%;
    z-index: -1;
 }
#hero img {
    height: 300px;
    width: auto;
 }
 
.cta {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 30px;
    
 }

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    color: darkgoldenrod;
    font-weight: bolder;
    text-shadow: 4px 4px 8px black ;
 }

 @media (max-width: 780px){
    #hero img {
        height: 100px;
        width: auto;
        margin-top: 10px;
    }
    h1 {
        font-size: 20px;
    }
    #hero button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        padding: 10px;
        font-size: 8px;
    }
    

 }

 /* MAIN PLATAFORMAS */
#plataformas {
    display: flex;
    background-color: #000000;
    width: 100%;
    height: auto;
    border-bottom: 2px solid darkgoldenrod;
    border-top: 2px solid darkgoldenrod;
    padding: 10px;
 }

#plataformas ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: 50px;
 }

#plataformas img {
    height: 30px;
 }
 @media (max-width: 780px){
    #plataformas ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
 }

/* MAIN JUEGO */
#juego {
    background-image: url(./assets/1366_2000.webp);
    height: 600px;
    object-fit:cover;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-bottom: 2px solid darkgoldenrod;

 }
#juego article{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
 }
#juego h2{
    font-size: 3em;
    color: darkgoldenrod;
    text-shadow: 4px 4px 8px black ;
    font-weight: bolder;
    text-transform: uppercase;
 }
#juego p{
    font-size: 1.5em;
 }
/* MAIN NOTICIAS */
#noticias {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding: 20px;
    width: 100%;
    height: auto;
    gap: 20px;
    background-image: url(./assets/TL_Announce_Screenshots_Monster_GalluKnight_B_1920.webp);
    background-size: cover;
    border-top:2px solid darkgoldenrod;
    border-bottom:2px solid darkgoldenrod;
 }
#noticias h2{
    font-size: 48px;
    color: darkgoldenrod;
    font-weight: bolder;
    text-transform: uppercase;
    }

.noticia {
    display: flex;
    width: 100%;
    height: auto;
    border: 2px solid darkgoldenrod;
    background-color: black;
 }
.noticia img{
    width: 250px;
    height: auto;
    }

.info-noticia{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    justify-content: center;
 }

.info-noticia h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    color: darkgoldenrod;
 }
 @media (max-width: 780px){
    .noticia {
        display: flex;
        flex-direction: column;
    }
    .noticia img {
        width: 100%;
        height: auto;
    }
 }

/* FOOTER SOCIAL */
#social{
    border-bottom:1px solid darkgoldenrod;
}
#social a > img {
    height: 80px;
}
#social ul {
    display: flex;
    width: 100%;
    height: 100px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
/* FOOTER ABOUT */
#about {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    width: 100%;
    height: auto;
}

#about a{
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
}

#about ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#about a:hover{
    color: darkgoldenrod;
}
#about img{
    height: 60px;
}
.legal {
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
