*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

header{
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    align-items: center;
    background: linear-gradient(90deg, rgba(0,0,0,1) 58%, rgba(184,134,11,1) 100%);
    border-bottom: 2px solid darkgoldenrod;
    
}
nav {
    margin-left:15px;
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    text-transform: uppercase;
    padding-left: 10px;
    height: 100%;
}
li{
    height: 100%;
}
li > a{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    font-weight: bolder;
}
li > a:hover{
    background-color: darkgoldenrod;
    color: black;
}
.hdr-logo{
    height: 50px;
    width: auto;

}


header button{
    padding: 15px;
    width: 180px;
    background-color: #000000;
    border: 2px solid darkgoldenrod;
}
header button > a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
}
header button:hover{
    background-color: darkgoldenrod;
    color: black;
}


#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
    
}
 #background-video {
    position: absolute;
    width: 100vw;
    height: 800px;
    object-fit:fill;
    z-index: -1;
    border-bottom: 2px solid darkgoldenrod;
    opacity: 80%;
 }
 #hero img {
    height: 300px;
    width: auto;
 }
 
 .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
 }

 h1 {
    text-transform: uppercase;
    font-size: 4em;
    color: darkgoldenrod;
    font-weight: bolder;
 }

 .cta button{
    padding: 15px;
    width: 300px;
    background-color: #000000;
    border: 2px solid darkgoldenrod;
 }
 .cta button > a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
 }

 .cta button:hover {
    background-color: darkgoldenrod;
    color: black;
 }